<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row right">
    <!-- Sidebar -->
    <div class="col-lg-2">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Main Content -->
    <div class="col-lg-10 mb-5">
      <app-dashboard></app-dashboard>

      <!-- Courses & Attendance -->
      <div class="row  mt-4">
        <div class="col-lg-7 col-12">
          <app-currentcourses></app-currentcourses>
        </div>
        <div class="col-lg-5 col-12">
          <app-attendence-chart></app-attendence-chart>
        </div>
      </div>

      <!-- Announcements -->
      <div class="row mt-4">
        <div class="col-12">
          <app-announcement></app-announcement>
        </div>
      </div>

    </div>
  </div>
</div>