<div class="card shadow-sm p-3 mobile-mt ">
    <div class="hey text-white px-3 py-2 rounded-top fw-bold">
        ATTENDANCE
    </div>

    <div class="d-flex justify-content-center align-items-center mt-3 oo"
        *ngIf="chartOptions?.series && chartOptions?.chart">
        <apx-chart #chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
            [responsive]="chartOptions.responsive" [legend]="chartOptions.legend" [dataLabels]="chartOptions.dataLabels"
            [colors]="chartOptions.colors" [fill]="chartOptions.fill" class="w-100" style="max-width:350px;">
        </apx-chart>
    </div>

    <div class="text-center mt-3 dd">
        <span class="me-2">
            <span class="badge present-badge">&nbsp;</span> Present
        </span>
        <span class="me-2">
            <span class="badge absent-badge">&nbsp;</span> Absent
        </span>
        <span>
            <span class="badge leave-badge">&nbsp;</span> Leave
        </span>
    </div>
</div>